body {
	overflow: auto;
}
blockquote {
  border-left: 10px solid #73b027;
}
h3 {
  color: #5f5d5e;
  font-size: 35px;
  margin-bottom: 30px;
}
p {
  color: #909090;
  font-size: 16px;
}
.qvobject {
  width: 100%
}
.notification {
  color: red;
  font-size: 15px;
  padding-top: 30px;
  font-weight: bold;
  text-align: center;
}
